[Unit]
Description=Process summaries for the Character Archive

[Timer]
OnCalendar=daily
Persistent=false
Unit=archive-summary.service

[Install]
WantedBy=timers.target
